.App {
  width: 100vw;
  min-height: 100vh;

  background-color: #484848;

  display: flex;
  justify-items: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  margin: 0 auto;

  padding: 1.5rem 1rem 0 1rem;
  
  max-width: 320px;
}

.App main img {
  width: 100%;

  margin-bottom: 2rem;
}

.App main .cardapio {
  width: 100%;
}

.App main .cardapio .section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;
}

.App main .cardapio .section h4 {
  font-family: 'Archivo';
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #BEB4B4;
  margin-bottom: 10px;
}

.App main .cardapio .section .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #5c5a5a;
  padding: 4px 0
}

.App main .cardapio .section .item h1,
.App main .cardapio .section .item h5 {
  font-family: Archivo;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #fff;
}